{% extends "base.html" %}

{% block content %}
<main>
<h2>{{ page_title }}</h2>
<form id="contact-form" action="{{ url_for('user.process_login') }}" method="post">
{{ form.hidden_tag() }}
    <div class="input-div">
        <input id="name" name="name" type="text" placeholder="Ваше имя" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="last_name" name="last_name" type="text" placeholder="Ваша фамилия" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="nickname" name="nickname" type="text" placeholder="Ваш псевдоним" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="email" name="email" type="text" placeholder="Ваш адрес электронной почты" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="phone" name="phone" type="text" placeholder="Ваш телефон" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="birth_date" name="birth_date" type="text" placeholder="Дата рождения" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="reg_datetime" name="reg_datetime" type="text" placeholder="Дата регистрации" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="password" name="password" type="password" placeholder="Ваш пароль" required size="40" maxlength="100" />
    </div>
    <div class="input-div">
        <input id="password2" name="password2" type="password" placeholder="Повторите пароль" required size="40" maxlength="100" />
    </div>
    <div class="input-btn">
        <input id="submit" name="submit" type="submit" value="Отправить">
    </div>
</form>
</main>
<section>
    <hr>
</section>
{% endblock %}