{% extends "base.html" %}
{% block content %}

<main>
    <h2>{{ page_title }}</h2>
    <div class="main-article">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque delectus,
            dolorem ea facere fugiat inventore itaque modi molestias nihil nobis nostrum officia
            quibusdam quis repellendus sapiente, ut vitae voluptatum.
        </p>
    </div>
    <article>
    <div class="items">
        <div>
            <a href="/product" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/21.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>

        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/27.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/18.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/9.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/11.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/25.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/3.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
        <div>
            <a href="/" class="item-link"></a>
            <img src="{{ url_for('static', filename='/images/items/31.jpg') }}" alt="">
            <p>Редкая шкатулка начала 19 века, ручная работа, состояние идеальное</p>
            <p>Стартовая цена: <span>200 ₽</span></p>
        </div>
    </div>
</article>
</main>


{% endblock %}