{% extends "base.html" %}
{% block content %}

<main>
    <h2>{{ page_title }}</h2>
    <div class="main-article">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque delectus,
            dolorem ea facere fugiat inventore itaque modi molestias nihil nobis nostrum officia
            quibusdam quis repellendus sapiente, ut vitae voluptatum.
        </p>
    </div>
    <article>
    <div class="items">
        {% for item in items_list %}
        <div>
            <a href="{{ url_for('product', item_id=item.id) }}" class="item-link"></a>
            {% if item.photo %}
                <img src="{{ url_for('static', filename=item.photo) }}" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='/images/items/default.jpg') }}" alt="">
            {% endif %}
            <p>{{ item.name}}</p>
            <p>Стартовая цена: <span>{{ item.nom_price }}₽</span></p>
        </div>
        {% endfor %}
    </div>
</article>
</main>

{% endblock %}